body {
	font-family: sans-serif;
}


.button {
	padding: 24px 36px;
	border-radius: 8px;
	color: white;
	text-decoration: none;
}

.green {
	background-color: green ;
}

.red {
	background-color: red ;
}

.yellow {
	background-color: yellow ;
}

.gray {
	background-color: gray ;	
	display: block;
	text-align: center;
}

.fied-group label {
	display: block;
	text-transform: uppercase;
	margin-bottom: 8px;
	font-size: 12px;
}

.fied-group input {
	padding: 16px;
	border-radius: 8px 0px 0px 8px;
	width: 250px;
	border: 2px solid #16841C;
	background-image: url('../images/envolop.svg');
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 45px;
	background-size: 28px;
	background-color:  #FAE6F0;
}

.form {
	display: flex;
	align-items: flex-end;
}

.form-button {
	padding: 16px ;
	padding-top: 19px;
	display: inline-block;
	border: none;
	border-radius: 0px 8px 8px 0px;
	background-color: #9A4EAE;
	color: white;
}