body {
	font-family: sans-serif;
}


.button {
	padding: 24px 36px;
	border-radius: 8px;
	color: white;
	text-decoration: none;
}

.green {
	background-color: green ;
}

.red {
	background-color: red ;
}

.yellow {
	background-color: yellow ;
}

.gray {
	background-color: gray ;	
	display: block;
	text-align: center;
}

.fied-group label {
	display: block;
	text-transform: uppercase;
	margin-bottom: 8px;
	font-size: 12px;
}


.fied-group input {
	padding: 16px;
	border-radius: 5px;
}