.card {
	background-color: yellow;
	width: 350px;
	border: 2px solid red;
	border-radius: 20px;
	overflow: hidden;
}

.card > img {
	transform: rotate(360deg);
	transition: 0.8s;
	aspect-ratio: 1/1;
	object-fit: contain;
	width: 350px;
	position: relative;
}

.card img:hover {
	transform: scale(0.5);
	transition: 0.5s;
}

.caption {
	padding: 20px;
}

